@{
    ViewBag.Title = "About";
}
<h2>About Cryptobank Rotterdam</h2>
<h3>What does Cryptobank Rotterdam do?</h3>

<p>
    Cryptobank Rotterdam is a bank for Cryptocurrency. We make sure that the user can buy things with bitcoins <br />
    In a safe and easy way. We try to make sure that the user pays the right price for the bitcoin. <br />
    For this we use real-time tracking of the price of a bitcoin. So if the price changes, the customer knows instantly what he gets or what needs to pay for it. <br />
    This way we try to be as customer friendly as possible.
</p>
