@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Cryptobank Rotterdam</h3>

<address>
    Wijnhaven 107<br />
    Rotterdam, 3011 WN<br />
    <abbr title="Phone">P:</abbr>
    010 794 4801
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Cryptobank@support.com</a><br />
</address>