@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cryptobank Rotterdam</h1>
    <p class="lead">Do you want a safe and easy way to get and spend bitcoins, than click this button down here.</p>
    <p><a href="Register" class="btn btn-primary btn-lg">Register</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Contact</h2>
        <p>
            Want to contact our company because you have a problem? <br />
            Follow this link to find more details about that.
        </p>
        <p><a class="btn btn-default" href="Contact">Contact</a></p>
    </div>
    <div class="col-md-6">
        <h2>Free of charge</h2>
        <p>
            All of our services are free of charge and easy to use! <br />
            If you want to know more about our company follow this link.
        </p>
        <p><a class="btn btn-default" href="About">About the company</a></p>
    </div>
</div>